{% extends "base_with_content.html" %}

{% block title %}Browse Categories{% endblock %}

{% block page_heading %}Browse Categories{% endblock %}


{% block breadcrumb_content %}
    <li>
        <a href="{% url frontpage %}"><i class="icon-home"></i> Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <i class="icon-th-list"></i> Categories</a>
    </li>
{% endblock breadcrumb_content %}


{% block content %}
    <nav class="pull-right space-below">
        <a class="btn btn-primary" href="{% url category_creation %}">
            <i class="icon-plus icon-white"></i>
            Add a new category
        </a>
    </nav>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                <span class="badge{% if category.recipes_count %} badge-info{% endif %}">{{ category.recipes_count }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
