{% extends "base_with_content.html" %}

{% block title %}Delete recipe{% endblock %}

{% block page_heading %}Delete recipe{% endblock %}


{% block breadcrumb_content %}
    <li>
        <a href="{% url 'frontpage' %}"><i class="icon-home"></i> Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'recipe_listing' %}"><i class="icon-list-alt"></i> Recipes</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <i class="icon-trash"></i>
        Delete recipe
    </li>
{% endblock breadcrumb_content %}


{% block content %}
    <p>
        Are you sure you want to delete <strong>{{ recipe.title }}</strong>?
        <span class="label label-warning">This action cannot be undone</span>
    </p>
    <hr>
    <form action="." method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn" href="{{ recipe.get_absolute_url }}">Cancel</a>
    </form>
{% endblock content %}