{% extends "base_with_content.html" %}

{% block title %}{% if recipe %}Update{% else %}Add a{% endif %} recipe{% endblock %}

{% block page_heading %}{% if recipe %}Update{% else %}Add a{% endif %} recipe{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock css %}


{% block breadcrumb_content %}
    <li>
        <a href="{% url 'frontpage' %}"><i class="icon-home"></i> Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'recipe_listing' %}"><i class="icon-list-alt"></i> Recipes</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <i class="icon-{% if recipe %}pencil{% else %}plus{% endif %}"></i>
        {% if recipe %}Update{% else %}Add a{% endif %} recipe
    </li>
{% endblock breadcrumb_content %}


{% block content %}
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        {% include "snippets/form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn" href="{{ back_link }}">Cancel</a>
        </div>
    </form>
{% endblock content %}

{% block body_end %}
    <div id="method-control-panel">
        <a class="btn btn-small" data-action="insert">
            <i class="icon-chevron-down"></i>
        </a>
        <a class="btn btn-small btn-danger" data-action="remove">
            <i class="icon-trash icon-white"></i>
        </a>
    </div>
    
    <div id="ingredients-control-panel" class="form-inline">
        <label class="checkbox">
            <input type="checkbox" name="is_heading" />
            Heading
        </label>
        <a class="btn btn-small" data-action="insert">
            <i class="icon-chevron-down"></i>
        </a>
        <a class="btn btn-small btn-danger" data-action="remove">
            <i class="icon-trash icon-white"></i>
        </a>
    </div>
{% endblock %}